{{ form_start(productForm) }}
<div class="mb-3">
    {{ form_label(productForm.name) }}
    {{ form_widget(productForm.name) }}
    {{ form_help(productForm.name) }}
</div>
{{ form_row(productForm.description) }}
    {{ form_row(productForm.body) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.photos) }}
    {{ form_row(productForm.categories) }}
    {{ form_row(productForm.save) }}
{{ form_end(productForm) }}