{% extends 'base.html.twig' %}

{% block title %}Listagem de produtos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1>Produtos</h1>
            <a href="{{ path('admin_products_create') }}" class="btn btn-success">Criar Produto</a>
        </div>
        <hr>
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Criado em</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.createdAt|date('d/m/Y H:i:s') }}</td>
                        <td class="d-flex justify-content-evenly">
                            <a href="{{ path('admin_products_edit', {product: product.id}) }}"
                               class="btn btn-sm btn-primary">Editar</a>
                            <form method="post" action="{{ path('admin_products_remove', {product: product.id}) }}">
                                <input type="hidden" name="_method" value="delete">
                                <button class="btn btn-sm btn-danger">
                                    Remover
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
